
.menu {
    display: flex;
    justify-content: center; 
    width: 1100px;
    height: 100px;
    border: 5px red solid;
    border-radius: 10px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
}

.menu li {
    width: 15%;
    list-style: none;
}
.menu a {
    border: 3px solid #ffffff;
    padding: 15px;
    background-color: #000000;
    color: #ff0000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    border: #d9534f;
    
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2%;
    box-shadow: 10px 5px 10px gray;
}

.cuadrado {
    width: 100px; 
    height: 100px; 
    border: 3px solid #428bca;
    background: #428bca;

    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2%;
    box-shadow: 10px 5px 10px gray;
}

.triangulo-tricolor {
    width: 0; 
    height: 0; 
    border-left: 100px solid #428bca;
    border-top: 50px solid #f0ad4e;
    border-bottom: 50px solid #d9534f;

    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2%; 
    box-shadow: 10px 5px 10px gray;
}

.circulo-tricolor {
    width:0;
    height:0;
    border-right: 50px solid transparent;
    border-top: 50px solid #f0ad4e ;
    border-left: 50px solid #428bca;
    border-bottom: 50px solid #d9534f;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;

    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2%;
}
